

<ul class="list-group" *ngIf="todosArr.length > 0; else noTodos">
    <li *ngFor="let todo of todosArr; trackBy: trackByFunc"
        class="list-group-item d-flex justify-content-between align-items-center">

        <strong>
            {{todo.todoItem}}
        </strong>

        <div>
            <button mat-mini-fab color="primary" class="mr-2" (click)="onTodoEdit(todo)">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-mini-fab color="warn" (click)="onRemove(todo.todoId)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

    </li>
</ul>

<ng-template #noTodos>
    <p class="alert alert-info">
        No Todos Available !!!
    </p>
</ng-template>