

<div class="card mb-4 mb-md-0">
    <div class="card-body">
        <h2>
            {{isInEditMode ? 'Update Todo' : 'Add Todo'}}
        </h2>
        <form #todoForm="ngForm" (ngSubmit)="onTodoSubmit()">
            <div class="form-group">
                <label for="todoItem">Todo Item</label>
                <input name="todoItem" required ngModel type="text" class="form-control">
            </div>

            <button [disabled]="todoForm.invalid" *ngIf="!isInEditMode" class="w-100" type="submit" mat-raised-button
                color="primary">Add Todo</button>

            <button [disabled]="todoForm.invalid" *ngIf="isInEditMode" (click)="onUpdate()" class="w-100" type="button"
                mat-raised-button color="primary">Update Todo</button>
        </form>
    </div>
</div>